*{
    box-sizing: border-box;
}

html, body {
    height: 110%;
}

body{    
    background-color: #151e33;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: #f089a0;
    text-decoration: none;
}

/* CREATE  */
.create{
    width: 90%;
    max-width: 75%;
    min-width: 320px;
    border-radius: 15px;
    background-color: #1b263e;
    padding: 3rem;
}

/* LOGIN */
.login{
    text-align: right;
    font-size: 16px;
}

/* CONTENT */
.content{
    width: 60%;
    margin: 3rem auto;
}

.content h1{
    font-size: 26px;
    text-align: center;
}

.content p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

/* FORM */
.form{
    margin-top: 2rem;
}
.form label{
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: .3rem;
}

.form input{
    display: block;
    border: none;
    width: 100%;
}

/* .form input[type="text"], 
.form input[type="email"],
.form input[type="password"]{
    background-color: red;
} */

.form input:not([type="submit"]){
    background-color: transparent;
    padding: 1.5rem;
    border: 1px solid #495e8d;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: white;
    font-size: 16px;
}

.form input[type="submit"]{
    border-radius: 5px;
    background-color: #e3627f;
    color: white;
    font-weight: bold;
    padding: 1.5rem 3rem;
    cursor: pointer ;
}

/* LEGAL */
.legal{
    border-radius: 10px;
    background-color: #202e4e;
    padding: 2rem;
    width: 85%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    color: #8f9ab2;
}
